.datepicker-control{
    width: max-content;
}

.datepicker-control__lable{
    text-align: left;
    color: #ffff;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    margin-bottom: 10px;
}
